.h1  {
    text-align: center;
}

#carouselblock{
    padding-bottom: 80px;
    text-align: left;
}

#carouselhead{
    font-size: 100px;
    color: #78c2ad;
}

#carouselp{
    font-size: 55px;
}

carouselheadatt

carouselpatt


#map {
        height: 400px;
        width: 100%;
        margin: 5px;
}


